{
    auto_https off
}

http://localhost:80 {
    reverse_proxy /api/* node-app:8001 {
        header_up Host localhost
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote_host}
    }

    # Redirige le reste du trafic vers le Front
    reverse_proxy node-app:5173 {
        header_up Host localhost
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote_host}
    }
}